
.login-container-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-btn{
    background-color: black;
    border-radius: 25px;
}
.submit-btn:hover{
    background-color: white;
    color: black;
}